*
.*

!.bun-version
!Dockerfile
!bun.lock
!install.sh
!package.json
!tsconfig.base.json
!tsconfig.json

!apps/
apps/*
!apps/desktop/
apps/desktop/*
!apps/desktop/package.json
!apps/docs/
!apps/docs/**
!apps/shell/
!apps/shell/**
!apps/web/
!apps/web/**

!docs/
!docs/**
!packages/
!packages/**

**/.astro
**/.appaloft
**/.*.bun-build
**/.svelte-kit
**/.turbo
**/.vscode
**/build
**/coverage
**/dist
**/node_modules
**/playwright-report
**/test-results

*.log
.DS_Store
